@import './src/global.scss';

.footerStatistics {
  position: absolute;
  width: 582px;
  margin-bottom: 30px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.informer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  p {
    margin-top: 16px;
    color: $purpleBlue;
    font-weight: bold;
    font-size: 0.71rem;
    letter-spacing: 1.5px;
    line-height: 1.6;
  }

  h3 {
    font-size: 4.29rem;
    line-height: 1.3;
    letter-spacing: -1.5px;
  }
}