@import "./src/global.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightButton {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: $blueishBlack;
  margin-bottom: 1rem;
  cursor: pointer;
}