* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

$blueishBlack: #191932;
$purpleBlue: #6A6A9F;
$black: #05050F;

html {
  font-size: 14px;
  color: white;
}

body {
  background-color: $black;
}

button {
  outline: none;
  border: none;
}


