@import "../../../global";

@mixin widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.43rem 2.14rem;
  max-width: 290px;
  height: 410px;
  border-radius: 10px;
  background-color: $blueishBlack;
  margin-bottom: 30px;
  h2 {
    color: white;
    font-size: 1.43rem;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.44px;
  }
}

@mixin widget__detail {
  color: white;
  opacity: 0.3;
  font-size: 0.86rem;
  line-height: 1.33;
}

@mixin widget__value__amount {
  color: white;
  font-weight: bold;
  font-size: 1.71rem;
  line-height: 1.67;
  margin-right: 6px;
}

@mixin widget__value__indicator {
  span {
    margin-left: 4px;
    line-height: 1.43;
    letter-spacing: 0.44px;
    color: #5EFF5A;
  }
}
